@font-face {
  font-family: jost-regular;
  src: url("../fonts/Jost/static/Jost-Regular.ttf");
}

// Valores comunes
$aire: 4px;
$fondo: #141414;
$color: white;
$font-size-root: 32px;
$border-radius: 8px;
$min-height-img-top: 225px;
$min-height-img-first-second: 250px;

* {
  box-sizing: border-box;
  font-size: $font-size-root;
  // overflow: hidden;
}

body {
  font-family: jost-regular, Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: $fondo;
  color: $color;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  height: 15vh;
  padding: $aire * 2;
  display: flex;
  justify-content: space-between;

  div.header-logo {
    padding: 2 * $aire;
    display: flex;
    justify-content: center;
    align-items: center;

    div.platform-title {
      padding: 4 * $aire;
      width: 100%;
    }
  }

  div.header-buttons {
    padding: 2 * $aire;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    div {
      padding: 2 * $aire;
      border-radius: $border-radius;

      &:hover {
        background-color: white;
        color: blue;
        cursor: pointer;
      }
    }
  }
}

main {
  max-height: 84vh;
  display: grid;
  grid-template: 1fr 5fr repeat (4, 1fr) / 1fr;
  justify-content: stretch;

  img {
    width: 100%;
    cursor: pointer;
  }

  div.section-title {
    span#top-text::after {
      content: "5";
    }
  }

  section {
    display: flex;
    justify-content: space-evenly;

    &.top {
      flex-flow: row-reverse nowrap;

      div img {
        min-width: $min-height-img-top;
      }
    }

    &.first,
    &.second {
      display: flex;
      flex-wrap: nowrap;
      column-gap: $aire;
      div img {
        min-width: $min-height-img-first-second;
      }
    }
  }
}

footer {
  display: none;
}

@function img_portada($imagenes) {
  @return $imagenes * ($min-height-img-top + $aire);
}

@media screen and (width < 1280px) and (width > img_portada(3)) {
  .platform-title {
    display: none;
  }

  main {
    div.section-title {
      span#top-text::after {
        content: "3";
      }
    }
    section {
      &.top {
        flex-flow: row-reverse nowrap;

        & > :nth-child(1),
        & > :nth-child(2) {
          display: none;
        }
      }

      &.first,
      &.second {
        flex-wrap: wrap;
        div img {
          min-width: $min-height-img-first-second;
        }
      }
    }
  }
}

@media screen and (width <= img_portada(3)) {
  .platform-title {
    display: none;
  }

  main {
    div.section-title {
      span#top-text::after {
        content: "3";
      }
    }

    section {
      &.top {
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: stretch;
        align-content: center;

        & > :nth-child(1),
        & > :nth-child(2) {
          display: none;
        }
      }

      &.first,
      &.second {
        flex-wrap: wrap;
        div img {
          min-width: $min-height-img-first-second;
        }
      }
    }
  }
}
